<footer>
    <p>2021 © DataDoc - Todos os direitos reservardos. Visite-nos em www.datadoc.com.br</p>
    <div>
        <a href="#">About</a>
        <a href="#">Support</a>
        <a href="#">Purchase</a>
    </div>
</footer>