

<style>
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }

    @media (min-width: 768px) {
        .bd-placeholder-img-lg {
            font-size: 3.5rem;
        }
    }
    .bg-login{
        background-color: #268C5C;
    } 
    .bg-img{
        background-image: url('/img/Group_7517.png') !important;
    }
    body{
        font-family: "Poppins" !important;
    }
</style>


<body class="bg-light">

    <!-- Iniciando MAIN -->
    <main class="container-fluid p-0">
        <div class="row ">
            <div class="col-md-4 col-lg-4 bg-white
                p-2">

                <!-- Título introdutório -->
                <div class="py-2 text-center">
                    <h4 style="font-family: 'Poppins'; font-weight: bold;" >Bem-vindo(a) à <br> BlackWell</h4>
                    <p class="lead" style="font-size: 12px;">Você já possui alguma conta? <a href="/"
                            style="color:#F25C27; font-family: 'Monteserrat'; font-weight: 900;">FAÇA SEU LOGIN</a></p>
                </div>

                <!-- Abrindo o Formulário de Cadastro -->
                <form class="needs-validation" novalidate action="/cadastro" method="post">
                    <div class="row">

                            <!-- Input Nome do Paciente -->
                            <div class="col-lg-12 col-sm-12 p-0">
                                <label for="nomePaciente" class="form-label mt-3"> Nome completo:</label>
                           
                                <input type="text" class="form-control" id="nomePaciente"
                                    placeholder="Digite o seu nome completo" value="" name="nome" required>
                                <div class="invalid-feedback">
                                    Campo nome é obrigatório.
                                </div>
                            </div>


                            <!-- Input Endereço do Paciente -->
                            <div class="col-lg-12 col-sm-12 p-0">
                                <label for="endecoPaciente" class="form-label mt-3"> Endereço: </label>
                               
                                <input type="text" class="form-control" id="enderecoPaciente"
                                    placeholder="Digite o seu nome completo" value="" name="enderecoCompleto" required>
                                <div class="invalid-feedback">
                                    Campo endereço é obrigatório.
                                </div>
                            </div>
                            <div class="d-flex gap-2 p-0">
                                <!-- Input Data de Nascimento do Paciente -->
                            <div class="col-lg-6 col-sm-6 p-0">
                                <label for="dataNascimento" class="form-label mt-3"> Data Nascimento: </label>
                               
                                <input type="date" class="form-control" id="dataNascimento"
                                    placeholder="Digite o seu nome completo" value="" name="dataNascimento" required>
                                <div class="invalid-feedback">
                                    Campo data nascimento é obrigatório.
                                </div>
                            </div>

                            <!-- Select Genero do Paciente -->
                            <div class="col-lg-6 col-sm-6 p-0">
                                <label for="generoPaciente" class="form-label mt-3">Gênero</label>
                                <select class="form-select" id="generoPaciente" name="genero" required>
                                    <option value="">Escolha ...</option>
                                    <option value="Masculino">Masculino</option>
                                    <option value="Feminino">Feminino</option>
                                    <option value="Outros">Outro</option>
                                </select>
                                <div class="invalid-feedback">
                                    Por favor selecione gênero.
                                </div>
                            </div>
                            </div>
                            

                            <!-- Input email do Paciente -->
                            <div class="col-lg-12 col-sm-12 p-0">
                                <label for="emailPaciente" class="form-label mt-3">Email: <span
                                        class="text-muted"></span></label>
                                <input type="email" class="form-control" id="emailPaciente"
                                    placeholder="you@example.com" name="email" value="" required>
                                <div class="invalid-feedback">
                                    Campo email é obrigatório.
                                </div>
                            </div>

                            <div class="d-flex gap-2 p-0">
                                <!-- Input Telefone do Paciente -->
                            <div class="col-lg-6 col-sm-6 p-0">
                                <label for="telefonePaciente" class="form-label mt-3">Telefone:</label>
                                <input type="text" class="form-control" id="telefonePaciente"
                                    placeholder="(DD)x xxxx-xxxx" name="telefone" value="" required>
                                <div class="invalid-feedback">
                                    Campo telefone é obrigatório.
                                </div>
                            </div>
                            <!-- Input CPF do Paciente -->
                            <div class="col-lg-6 col-sm-6 p-0">
                                <label for="cpfPaciente" class="form-label mt-3">CPF:</label>
                                <input type="text" class="form-control" id="cpfPaciente" placeholder="Digite o seu CPF" name="cpf" value=""
                                    required>
                                <div class="invalid-feedback">
                                    Campo CPR é obriigatório.
                                </div>
                            </div>
                            </div>
                            
                            <!-- Input Usuário do Paciente -->
                            <div class="col-lg-12 col-sm-12 p-0">
                                <label for="usuarioPaciente" class="form-label mt-3">Usuário :</label>
                                <input type="text" class="form-control" id="usuarioPaciente"
                                    placeholder="Digite o seu usuario" name="usuario" value="" required>
                                <div class="invalid-feedback">
                                    Campo usuário é obrigatório.
                                </div>
                            </div>
                            <!-- Input Senha do Paciente -->
                            <div class="col-lg-12 col-sm-12 p-0">
                                <label for="senhaPaciente" class="form-label mt-3">Senha :</label>
                                <input type="password" class="form-control" id="senhaPaciente" placeholder="******" name="senha" value="senha"
                                    required>
                                <div class="invalid-feedback">
                                    Campo senha é obrigatório.
                                </div>                                                        
                            </div>
                            <!-- Input Convênio do Paciente -->
                            <label for="convenio" class="form-label mt-3">Convênio:</label>
                                <select class="form-select" id="convenio" name="convenio" required>
                                    <option value="">Escolha ...</option>
                                    <option value="Amil">Amil</option>
                                    <option value="Bradesco">Bradesco</option>
                                    <option value="Sulamérica">Sulamérica</option>
                                    <option value="Hapvida">Hapvida</option>
                                    <option value="Unimed">Unimed</option>
                                    <option value="Albert E.">Albert E.</option>
                                    <option value="Outro">Outro</option>
                                    <option value="Nenhum">Nenhum</option>
                                </select>
                                <div class="invalid-feedback">
                                    Por favor selecione convênio.
                                </div>
                        </div>
                        <!-- Botões Limpar e Enviar-->
                        <div class="d-flex justify-content-center mb-2 mt-3">
                            <button class="btn btn-primary btn-mx-2 btnLimpar " type="reset">Limpar</button>
                            <button class=" btn btn-success mx-2 btnEnviar" type="submit">Adicionar </button>
                        </div>
                </form>
                <p style="text-align: center; font-size: 12px;">Ao se inscrever você concorda com nossos Termos,
                    Condições e Políticas de Privacidade</p>
            </div>            

            <div class="col d-flex align-items-end justify-content-center mx-auto" style="background-color: #268C5C;">
                <img src="/img/Researching (1).gif" style="    position: absolute; top: 150px;">
                <p class="mb-1 text-white">&copy; 2017–2021 Company Name</p>
            </div>
        </div>
    </main>

    <!-- Link Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

    <!-- Link de javascript para validação de cadastro do paciente -->
    <script src="/js/form-validationPaci.js"></script>
</body>
