<!-- Custom styles for this template -->
<style>
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }
    @media (min-width: 768px) {
        .bd-placeholder-img-lg {
            font-size: 3.5rem;
        }
    }
</style>

<body style="background: #f6f8fb;">
    
    <div class="container d-flex flex-column align-content-center justify-content-center" style="height: 100vh;">
        <div class="row d-flex justify-content-center">
            <img src="/img/401_Error_Unauthorized-amico.svg" alt="" style="width: 500px;">
        </div>
        <div class="row d-flex justify-content-center">
            <a href="/" type="button" class="btn btn-primary btn-sm" style="width: 200px; ">Retornar</a>
        </div>
    </div>

    <!-- Link Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>

</body>