<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<body>
    <div class="container-fluid" id="containerWrapper">
        {{!-- Para buscar uma página partials usa duas chaves + > --}}
        {{> header }}

        <div class="container">
            <main class="text-center">
                <section id="secaoMedico">
                    <h1 class="titulos text-center fw-bold my-4 my-md-5 pt-1">Lista de Especialidades</h1>

                    <section class="bg-white p-4">
                        <form id="formTabelaMedico" class="d-flex flex-wrap" action="#">
                            <section
                                class="d-flex align-content-center justify-content-center justify-content-md-start col-12 col-md-4 p-0">
                                <div class="col-lg-12 col-sm-12 p-0 my-auto pe-3">
                                    <input type="text" class="form-control my-auto" id="nomeEspecialidade"
                                        placeholder="Digite o nome da especialidade" name="especialidade" value="">
                                </div>
                                <div class="d-flex justify-content-center mb-2 mt-2">
                                    <button class="btn btn-primary btn-mx-2 btnLimpar " type="reset">Limpar</button>
                                    <button class=" btn btn-success mx-2 btnEnviar" type="submit">Adicionar</button>
                                </div>
                            </section>
                            <section class="col-none col-md"></section>
                            <section
                                class="justify-content-center justify-content-md-end col-12 col-md-4 d-flex py-3 p-md-0 justify-content-end">
                                <div class="pesquisaTabela d-flex align-center rounded">
                                    <input type="search" id="pesquisaMedico" class="form-control border-0"
                                        placeholder="Buscar" aria-label="Search">
                                    <span class="pe-3 align-self-center"><img src="../img/default.svg" alt=""></span>
                                </div>
                            </section>
                        </form>
                    </section>
                    <div class="table-responsive">
                        <table class="table table-hover mx-auto table-borderless">
                            <thead class="border-top border-bottom">
                                <tr>
                                    <th class="py-3">Data do Cadastro</th>
                                    <th class="py-3">Especialidade</th>
                                    <th class="py-3">Ações</th>
                                </tr>
                            </thead>
                            <tbody class=" bg-white" id="medicosDom">


                            <tbody class=" bg-white">
                                <tr class="align-middle">

                                    <td>
                                        06/12/21
                                    </td>
                                    <td>
                                        Clínica médica
                                    </td>
                                   
                                    <td>                                      
                                              <a href=""><i class="material-icons prefix">create</i></a>
                                              <a href=""><i class="material-icons prefix">delete</i></a>
                                    </td>             
                                </tr>
                            
                            </tbody>
                        </table>
                    </div>

                    <nav class="mt-4">
                        <ul class="pagination justify-content-end" id="paginationDoc">
                            <li class="page-item voltarTabela">
                                <a class="page-link text-white" id="primeiroMedico" href="#">&#171;</a>
                            </li>
                            <li class="page-item voltarTabela">
                                <a class="page-link text-white" id="medicoAnterior" href="#">&lt;</a>
                            </li>

                            <li class="page-item my-auto">
                                <div class="d-flex lista-numero medico-lista"></div>
                            </li>

                            <li class="page-item avancarTabela">
                                <a class="page-link text-white" id="medicoPosterior" href="#">&gt;</a>
                            </li>
                            <li class="page-item avancarTabela">
                                <a class="page-link text-white" id="ultimoMedico" href="#">&#187;</a>
                            </li>
                        </ul>
                    </nav>

                </section>
            </main>
        </div>

        {{> footer }}
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <script>
        const medicosDados = JSON.parse('{{{medicosDados}}}')

        const especialidadesDados = JSON.parse('{{{especialidadesDados}}}')

        function paginacaoMedicos() {

            let itensPorPagina = 10;
            const estado = {
                pag: 1,
                itensPorPagina,
                pagTotal: Math.ceil(medicosDados.length / itensPorPagina),
                maxBotoesVisiveis: 5
            }

            const DOM = {
                get(elemento) {
                    return document.querySelector(elemento)
                }
            }

            const controles = {
                proximo() {
                    estado.pag++

                    if (estado.pag > estado.pagTotal) {
                        estado.pag--
                    }
                },

                anterior() {
                    estado.pag--

                    if (estado.pag < 1) {
                        estado.pag++
                    }
                },

                irPara(pag) {
                    if (pag < 1) pag = 1

                    estado.pag = +pag

                    if (pag > estado.pagTotal) {
                        estado.pag = estado.pagTotal
                    }
                },

                listeners() {
                    DOM.get('#primeiroMedico').addEventListener('click', () => { controles.irPara(1); atualizarTudo() })
                    DOM.get('#ultimoMedico').addEventListener('click', () => { controles.irPara(estado.pagTotal); atualizarTudo() })

                    DOM.get('#medicoAnterior').addEventListener('click', () => { controles.anterior(); atualizarTudo() })
                    DOM.get('#medicoPosterior').addEventListener('click', () => { controles.proximo(); atualizarTudo() })
                },
            }

            const lista = {
                criar(item) {
                    const itemMedico = `
                        <tr class="medicoItem align-middle">
                           
                            <td>
                                ${item.data}
                            </td>
                            <td>
                                <span class="especialidade">${item.especialidade}</span>
                            </td>
                           
                            <td class="acoes">
                              
                                <a href="/admin/editarMedico/${item._id}"><i class="material-icons prefix">create</i></a>
                                <a href="/admin/deletarMedico/${item._id}"><i class="material-icons prefix">delete</i></a>

                            </td>
                        </tr>
                        `
                    DOM.get('#medicosDom').insertAdjacentHTML("beforeend", itemMedico)
                },

                atualizar() {
                    DOM.get('#medicosDom').innerHTML = ''

                    let pag = estado.pag - 1
                    let inicio = pag * estado.itensPorPagina
                    let fim = inicio + estado.itensPorPagina

                    let listaCortada = medicosDados.slice(inicio, fim)

                    listaCortada.forEach(lista.criar)
                }
            }

            const botoes = {
                criar(numero) {
                    const botao = document.createElement('a')

                    botao.setAttribute('href', "#")

                    botao.classList.add('page-link,text-dark')

                    botao.innerHTML = numero

                    if (estado.pag == numero) {
                        botao.classList.add('active')
                    }

                    botao.addEventListener('click', (event) => {
                        const pagina = event.target.innerText

                        controles.irPara(pagina)
                        atualizarTudo()
                    })

                    DOM.get('.lista-numero.medico-lista').appendChild(botao)

                },

                atualizar() {
                    DOM.get('.lista-numero.medico-lista').innerHTML = ""
                    const { maxEsquerda, maxDireita } = botoes.botoesNumVisiveis()

                    for (let pagina = maxEsquerda; pagina <= maxDireita; pagina++) {
                        botoes.criar(pagina)
                    }
                },

                botoesNumVisiveis() {
                    let maxEsquerda = (estado.pag - Math.floor(estado.maxBotoesVisiveis / 2))
                    let maxDireita = (estado.pag + Math.floor(estado.maxBotoesVisiveis / 2))

                    if (maxEsquerda < 1) {
                        maxEsquerda = 1
                        maxDireita = estado.maxBotoesVisiveis
                    }

                    if (maxDireita > estado.pagTotal) {
                        maxEsquerda = estado.pagTotal - (estado.maxBotoesVisiveis - 1)
                        maxDireita = estado.pagTotal

                        if (maxEsquerda < 1) maxEsquerda = 1
                    }

                    return { maxEsquerda, maxDireita }
                }
            }

            function atualizarTudo() {
                lista.atualizar()
                botoes.atualizar()
            }

            function iniciar() {
                atualizarTudo()
                controles.listeners()
            }
            iniciar();

        }
        paginacaoMedicos();


    </script>
</body>