<body>
    <div class="container-fluid" id="containerWrapper">
        {{> header }}

        <div class="container">
            <main class="text-center">
                  <ul class="nav justify-content-center fw-bold">
                    <li class="nav-item d-flex justify-content-center align-center pb-2 pb-md-0 px-4 col-12 col-md-auto">
                      <img src="../img/dashboard.svg" class="pe-2" alt="">
                      <a class="nav-link p-0 text-decoration-none text-dark" href="#">Dashboard</a>
                    </li>
                    <li class="nav-item d-flex justify-content-center align-center py-2 py-md-0 px-4 col-12 col-md-auto">
                      <img src="../img/doctor.svg" class="pe-2" alt="">
                      <a class="nav-link p-0 text-decoration-none text-dark" href="#">Painel do Médico</a>
                    </li>
                    <li class="nav-item d-flex justify-content-center align-center py-2 py-md-0 px-4 col-12 col-md-auto">
                      <img src="../img/doctor-man.svg" class="pe-2" alt="">
                      <a class="nav-link p-0 text-decoration-none text-dark" href="#">Comunidade</a>
                    </li>
                    <li class="nav-item d-flex justify-content-center align-center pt-2 pt-md-0 px-4 col-12 col-md-auto">
                      <img src="../img/question.svg" class="pe-2" alt="">
                      <a class="nav-link p-0 text-decoration-none text-dark" href="#">Suporte</a>
                    </li>
                  </ul>

                  <section id="secaoMedico">
                    <h1 class="titulos text-center fw-bold my-4 my-md-5 pt-1">Lista de Médicos</h1>

                    <section class="bg-white p-4">
                        <form id="formTabelaMedico" class="d-flex flex-wrap">
                            <section class="justify-content-center justify-content-md-start col-12 col-md-4 d-flex p-0">
                                <div class="pesquisaTabela d-flex align-center rounded">
                                    <input type="search" id="pesquisaMedico" class="form-control border-0" placeholder="Buscar" aria-label="Search">
                                    <span class="pe-3 align-self-center"><img src="../img/default.svg" alt=""></span>
                                </div>
                                <button type="button" id="adicionarMedico"><span>+</span></button>
                            </section>
                            <section class="col-none col-md"></section>
                            <section class="justify-content-center justify-content-md-end col-12 col-md-4 d-flex py-3 p-md-0 justify-content-end">
                                <select class="me-4 rounded" name="convenio" id="">
                                    <option value="" disabled selected hidden>Convênio</option>
                                    <option value="unimed">Unimed</option>
                                    <option value="cassems">Cassems</option>
                                </select>
                                <select class="rounded" name="status" id="">
                                    <option value="" disabled selected hidden>Status</option>
                                    <option value="ativo">Ativo</option>
                                    <option value="inativo">Inativo</option>
                                </select>
                            </section>
                        </form>
                    </section>

                    <div class="table-responsive">
                        <table class="table table-hover mx-auto table-borderless">
                            <thead class="border-top border-bottom">
                                <tr>
                                    <th class="py-3">Médicos</th>
                                    <th class="py-3">Data do Cadastro</th>
                                    <th class="py-3">Especialidade</th>
                                    <th class="py-3">CRM</th>
                                    <th class="py-3">Situação</th>
                                    <th class="py-3">Ações</th>
                                </tr>
                            </thead>
                            <tbody class=" bg-white">
                                <tr class="align-middle">
                                    <td class="py-3">
                                        <span><img class="img-thumbnail" style="width:35px; height:35px; border: none; border-radius: 50%;" src="https://images.unsplash.com/photo-1619895862022-09114b41f16f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt=""></span>
                                        Eleanor Pena
                                    </td>
                                    <td>
                                        18.05.2020
                                    </td>
                                    <td>
                                        <span class="especialidade">Clínico Geral</span>
                                        <span class="especialidade">Cirurgia geral</span>
                                        <span class="especialidade">Pediatria</span>
                                    </td>
                                    <td>
                                        2021-CE
                                    </td>
                                    <td>
                                        <div class="form-check form-switch d-flex justify-content-center">
                                            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                                        </div> 
                                    </td>
                                    <td class="acoes">
                                        <a href="">
                                            <img src="../img/edit.svg" alt="">
                                        </a>
                                        <a href="">
                                            <img src="../img/delete.svg" alt="">
                                        </a>
                                    </td>
                                </tr>
                                <tr class="align-middle">
                                    <td class="py-3">
                                        <span><img class="img-thumbnail" style="width:35px; height:35px; border: none; border-radius: 50%;" src="https://images.unsplash.com/photo-1619895862022-09114b41f16f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt=""></span>
                                        Eleanor Pena
                                    </td>
                                    <td>
                                        18.05.2020
                                    </td>
                                    <td>
                                        <span class="especialidade">Clínico Geral</span>
                                        <span class="especialidade">Cirurgia geral</span>
                                        <span class="especialidade">Pediatria</span>
                                    </td>
                                    <td>
                                        2021-CE
                                    </td>
                                    <td>
                                        <div class="form-check form-switch d-flex justify-content-center">
                                            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                                        </div> 
                                    </td>
                                    <td class="acoes">
                                        <a href="">
                                            <img src="../img/edit.svg" alt="">
                                        </a>
                                        <a href="">
                                            <img src="../img/delete.svg" alt="">
                                        </a>
                                    </td>
                                </tr>
                                <tr class="align-middle">
                                    <td class="py-3">
                                        <span><img class="img-thumbnail" style="width:35px; height:35px; border: none; border-radius: 50%;" src="https://images.unsplash.com/photo-1619895862022-09114b41f16f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt=""></span>
                                        Eleanor Pena
                                    </td>
                                    <td>
                                        18.05.2020
                                    </td>
                                    <td>
                                        <span class="especialidade">Clínico Geral</span>
                                        <span class="especialidade">Cirurgia geral</span>
                                        <span class="especialidade">Pediatria</span>
                                    </td>
                                    <td>
                                        2021-CE
                                    </td>
                                    <td>
                                        <div class="form-check form-switch d-flex justify-content-center">
                                            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                                        </div> 
                                    </td>
                                    <td class="acoes">
                                        <a href="">
                                            <img src="../img/edit.svg" alt="">
                                        </a>
                                        <a href="">
                                            <img src="../img/delete.svg" alt="">
                                        </a>
                                    </td>
                                </tr>
                                <tr class="align-middle">
                                    <td class="py-3">
                                        <span><img class="img-thumbnail" style="width:35px; height:35px; border: none; border-radius: 50%;" src="https://images.unsplash.com/photo-1619895862022-09114b41f16f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt=""></span>
                                        Eleanor Pena
                                    </td>
                                    <td>
                                        18.05.2020
                                    </td>
                                    <td>
                                        <span class="especialidade">Clínico Geral</span>
                                        <span class="especialidade">Cirurgia geral</span>
                                        <span class="especialidade">Pediatria</span>
                                    </td>
                                    <td>
                                        2021-CE
                                    </td>
                                    <td>
                                        <div class="form-check form-switch d-flex justify-content-center">
                                            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                                        </div> 
                                    </td>
                                    <td class="acoes">
                                        <a href="">
                                            <img src="../img/edit.svg" alt="">
                                        </a>
                                        <a href="">
                                            <img src="../img/delete.svg" alt="">
                                        </a>
                                    </td>
                                </tr>
                                <tr class="align-middle">
                                    <td class="py-3">
                                        <span><img class="img-thumbnail" style="width:35px; height:35px; border: none; border-radius: 50%;" src="https://images.unsplash.com/photo-1619895862022-09114b41f16f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt=""></span>
                                        Eleanor Pena
                                    </td>
                                    <td>
                                        18.05.2020
                                    </td>
                                    <td>
                                        <span class="especialidade">Clínico Geral</span>
                                        <span class="especialidade">Cirurgia geral</span>
                                        <span class="especialidade">Pediatria</span>
                                    </td>
                                    <td>
                                        2021-CE
                                    </td>
                                    <td>
                                        <div class="form-check form-switch d-flex justify-content-center">
                                            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                                        </div> 
                                    </td>
                                    <td class="acoes">
                                        <a href="">
                                            <img src="../img/edit.svg" alt="">
                                        </a>
                                        <a href="">
                                            <img src="../img/delete.svg" alt="">
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <nav class="mt-4">
                        <ul class="pagination justify-content-end">
                        <li class="page-item disabled primeiro-da-fila" id="voltarTabela">
                            <a class="page-link text-white">-</a>
                        </li>
                        <li class="page-item lista-numero"><a class="page-link text-dark" href="#">1</a></li>
                        <li class="page-item lista-numero"><a class="page-link text-dark" href="#">2</a></li>
                        <li class="page-item lista-numero"><a class="page-link text-dark" href="#">3</a></li>
                        <li class="page-item lista-numero"><a class="page-link text-dark" href="#">4</a></li>
                        <li class="page-item" id="avancarTabela">
                            <a class="page-link text-white" href="#">+</a>
                        </li>
                        </ul>
                    </nav>
                  </section>

                  <section id="secaoPaciente">
                    <h1 class="titulos text-center fw-bold my-4 my-md-5 pt-1">Lista de Pacientes</h1>

                    <section class="bg-white p-4">
                        <form id="formTabelaMedico" class="d-flex flex-wrap">
                            <section class="justify-content-center justify-content-md-start col-12 col-md-4 d-flex p-0">
                                <div class="pesquisaTabela d-flex align-center rounded">
                                    <input type="search" id="pesquisaMedico" class="form-control border-0" placeholder="Buscar" aria-label="Search">
                                    <span class="pe-3 align-self-center"><img src="../img/default.svg" alt=""></span>
                                </div>
                                <button type="button" id="adicionarPaciente"><span>+</span></button>
                            </section>
                            <section class="col-none col-md"></section>
                            <section class="justify-content-center justify-content-md-end col-12 col-md-4 d-flex py-3 p-md-0 justify-content-end">
                                <select class="me-4 rounded" name="convenio" id="">
                                    <option value="" disabled selected hidden>Convênio</option>
                                    <option value="unimed">Unimed</option>
                                    <option value="cassems">Cassems</option>
                                </select>
                                <select class="rounded" name="status" id="">
                                    <option value="" disabled selected hidden>Status</option>
                                    <option value="ativo">Ativo</option>
                                    <option value="inativo">Inativo</option>
                                </select>
                            </section>
                        </form>
                    </section>

                    <div class="table-responsive">
                        <table class="table table-hover mx-auto table-borderless">
                            <thead class="border-top border-bottom">
                                <tr>
                                    <th class="py-3">Pacientes</th>
                                    <th class="py-3">Data do Cadastro</th>
                                    <th class="py-3">Convênio</th>
                                    <th class="py-3">Telefone</th>
                                    <th class="py-3">Situação</th>
                                    <th class="py-3">Acesso</th>
                                    <th class="py-3">Ações</th>
                                </tr>
                            </thead>
                            <tbody class=" bg-white">
                                <tr class="align-middle">
                                    <td class="py-3">
                                        <span><img class="img-thumbnail" style="width:35px; height:35px; border: none; border-radius: 50%;" src="https://images.unsplash.com/photo-1619895862022-09114b41f16f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt=""></span>
                                        Eleanor Pena
                                    </td>
                                    <td>
                                        18.05.2020
                                    </td>
                                    <td>Unimed</td>
                                    <td>
                                        40028922
                                    </td>
                                    <td>
                                        <span class="ativo">Ativo</span>
                                    </td>
                                    <td>
                                        <div class="form-check form-switch d-flex justify-content-center">
                                            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                                        </div> 
                                    </td>
                                    <td class="acoes">
                                        <a href="">
                                            <img src="../img/edit.svg" alt="">
                                        </a>
                                        <a href="">
                                            <img src="../img/delete.svg" alt="">
                                        </a>
                                    </td>
                                </tr>
                                <tr class="align-middle">
                                    <td class="py-3">
                                        <span><img class="img-thumbnail" style="width:35px; height:35px; border: none; border-radius: 50%;" src="https://images.unsplash.com/photo-1619895862022-09114b41f16f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt=""></span>
                                        Eleanor Pena
                                    </td>
                                    <td>
                                        18.05.2020
                                    </td>
                                    <td>Unimed</td>
                                    <td>
                                        40028922
                                    </td>
                                    <td>
                                        <span class="cancelado">Cancelado</span>
                                    </td>
                                    <td>
                                        <div class="form-check form-switch d-flex justify-content-center">
                                            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                                        </div> 
                                    </td>
                                    <td class="acoes">
                                        <a href="">
                                            <img src="../img/edit.svg" alt="">
                                        </a>
                                        <a href="">
                                            <img src="../img/delete.svg" alt="">
                                        </a>
                                    </td>
                                </tr>
                                <tr class="align-middle">
                                    <td class="py-3">
                                        <span><img class="img-thumbnail" style="width:35px; height:35px; border: none; border-radius: 50%;" src="https://images.unsplash.com/photo-1619895862022-09114b41f16f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt=""></span>
                                        Eleanor Pena
                                    </td>
                                    <td>
                                        18.05.2020
                                    </td>
                                    <td>Unimed</td>
                                    <td>
                                        40028922
                                    </td>
                                    <td>
                                        <span class="cancelado">Cancelado</span>
                                    </td>
                                    <td>
                                        <div class="form-check form-switch d-flex justify-content-center">
                                            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                                        </div> 
                                    </td>
                                    <td class="acoes">
                                        <a href="">
                                            <img src="../img/edit.svg" alt="">
                                        </a>
                                        <a href="">
                                            <img src="../img/delete.svg" alt="">
                                        </a>
                                    </td>
                                </tr>
                                <tr class="align-middle">
                                    <td class="py-3">
                                        <span><img class="img-thumbnail" style="width:35px; height:35px; border: none; border-radius: 50%;" src="https://images.unsplash.com/photo-1619895862022-09114b41f16f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt=""></span>
                                        Eleanor Pena
                                    </td>
                                    <td>
                                        18.05.2020
                                    </td>
                                    <td>Unimed</td>
                                    <td>
                                        40028922
                                    </td>
                                    <td>
                                        <span class="pendente">Pendente</span>
                                    </td>
                                    <td>
                                        <div class="form-check form-switch d-flex justify-content-center">
                                            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                                        </div> 
                                    </td>
                                    <td class="acoes">
                                        <a href="">
                                            <img src="../img/edit.svg" alt="">
                                        </a>
                                        <a href="">
                                            <img src="../img/delete.svg" alt="">
                                        </a>
                                    </td>
                                </tr>
                                <tr class="align-middle">
                                    <td class="py-3">
                                        <span><img class="img-thumbnail" style="width:35px; height:35px; border: none; border-radius: 50%;" src="https://images.unsplash.com/photo-1619895862022-09114b41f16f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt=""></span>
                                        Eleanor Pena
                                    </td>
                                    <td>
                                        18.05.2020
                                    </td>
                                    <td>Unimed</td>
                                    <td>
                                        40028922
                                    </td>
                                    <td>
                                        <span class="pendente">Pendente</span>
                                    </td>
                                    <td>
                                        <div class="form-check form-switch d-flex justify-content-center">
                                            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                                        </div> 
                                    </td>
                                    <td class="acoes">
                                        <a href="">
                                            <img src="../img/edit.svg" alt="">
                                        </a>
                                        <a href="">
                                            <img src="../img/delete.svg" alt="">
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <nav class="mt-4">
                        <ul class="pagination justify-content-end">
                            <li class="page-item disabled primeiro-da-fila" id="voltarTabela">
                                <a class="page-link text-white">-</a>
                            </li>
                            <li class="page-item lista-numero"><a class="page-link text-dark" href="#">1</a></li>
                            <li class="page-item lista-numero"><a class="page-link text-dark" href="#">2</a></li>
                            <li class="page-item lista-numero"><a class="page-link text-dark" href="#">3</a></li>
                            <li class="page-item lista-numero"><a class="page-link text-dark" href="#">4</a></li>
                            <li class="page-item" id="avancarTabela">
                                <a class="page-link text-white" href="#">+</a>
                            </li>
                        </ul>
                    </nav>
                  </section>
            </main>
        </div>

        {{> footer }}
    </div>
</body>